{% load static %}
{% load fontawesome_5 %}
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>VibeTalk {{ title }}</title>
    {% fontawesome_5_static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/fancybox.css' %}"/>
    <link href="{% static 'styles/sweetalert2-dark.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/sweetalert2.min.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="VibeTalk" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
</head>