<h2>Заявки</h2>

<section id="sended-invitations">
    {% if send_invitations %}
    <h3>Отправленные:</h3>
    {% for invitation in send_invitations %}
    <article data-id="{{ invitation.id }}">
        <i class="fa fa-user"></i>
        <p>{{ invitation }}</p>
        <button class="cancel-friend-request"> <i class="fa fa-ban"></i></button>
        <small style="padding-right: .5em">{{ invitation.email }}</small>
    </article>
    {% endfor %}
    {% else %}
    <h3>Отправленных заявок нет</h3>
    {% endif %}
</section>

<section id="received-invitations">
    {% if received_invitations %}
    <h3>Полученные:</h3>
    {% for invitation in received_invitations %}
    <article data-id="{{ invitation.id }}">
        <i class="fa fa-user"></i>
        <p>{{ invitation }}</p>
        <button class="accept-friend-request" data-user-id="{{ invitation.id }}"> <i class="fa fa-plus"></i></button>
        <small style="padding-right: .5em">{{ invitation.email }}</small>
    </article>
    {% endfor %}
    {% else %}
    <h3>Полученных заявок нет</h3>
    {% endif %}
</section>

<script>
$(document).ready(function () {
    // Обработка клика по кнопке "Принять заявку"
    $('.accept-friend-request').on('click', function () {
        const article = $(this).closest('article');
        const userId = $(this).data('user-id');
        $.ajax({
            url: `{% url 'website:add_friend' %}`,
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: { user_id: userId },
            success: function(response) {
                if (response.status === 'ok') {
                    article.remove();
                    // Если приняли всех, меняем текст на "Полученных заявок нет"
                    if ($('#received-invitations article').length === 0) {
                        $('#received-invitations').find('h3').last().text('Полученных заявок нет');
                    }
                    $('aside').html(response.friends_html);

                    showToast({
                        icon: "success",
                        title: "Успех",
                        text: "Заявка успешно принята",
                    });
                } else {
                    showToast({
                        icon: "error",
                        title: "Ошибка",
                        text: response.message || "Ошибка при принятии заявки на дружбу",
                    });
                }
            }
        });
    });
    // Обработка клика по кнопке "Удалить из друзей"
    $('.cancel-friend-request').on('click', function () {
        const article = $(this).closest('article');
        const userId = parseInt(article.data('id'));
        $.ajax({
            url: `/cancel-friend-request/${userId}/`,
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            success: function(response) {
                if (response.message === 'Заявка успешно отменена') {
                    article.remove();
                    // Если удалили последнюю заявку, меняем текст на "Отправленных заявок нет"
                    if ($('#sended-invitations article').length === 0) {
                        $('#sended-invitations').find('h3').first().text('Отправленных заявок нет');
                    }
                    showToast({
                        icon: "success",
                        title: "Успех",
                        text: "Заявка успешно отменена",
                    });
                } else {
                    showToast({
                        icon: "error",
                        title: "Ошибка",
                        text: response.message || "Ошибка при отмене заявки на дружбу",
                    });
                }
            }
        });
    });
});
</script>