{% extends 'base.html' %}

{% block content %}
<style>.my_servers, .aside { display: none !important; }</style>
<script src="https://unpkg.com/zego-superboard-web@2.15.3/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
<script type="text/javascript">
window.onload = function () {
    const roomID = '{{ room }}';
    const userID = '{{ user.id }}';
    const userName = '{{ user }}';
    const appID = {{ AppID }};
    const serverSecret = '{{ ServerSecret }}';
    const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(appID, serverSecret, roomID, userID, userName);

    const zp = ZegoUIKitPrebuilt.create(kitToken);

    zp.addPlugins({ZegoSuperBoardManager});

    zp.joinRoom({
        // Положение на экране
        container: document.querySelector("#root"),

        // Максимальное кол-во пользователей
        maxUsers: 10,

        // Сценарий логики
        scenario: {
            mode: ZegoUIKitPrebuilt.GroupCall,
        },

        // Экран перед подключением
        showPreJoinView: false,
        preJoinViewConfig: {
            title: '',
        },

	// Белая доска
	whiteboardConfig: {
	    showAddImageButton: true,
	    showCreateAndCloseButton: true,
	},

        // Аватары пользователей
        onUserAvatarSetter:(userList) => {
            userList.forEach(user => {
                user.setUserAvatar("")
            })
        },

        // Состояние микрофона и камеры
        turnOnMicrophoneWhenJoining: true,
        turnOnCameraWhenJoining: false,

        // Таймер
        showRoomTimer: false,

        // Кнопки
        showMyCameraToggleButton: true,
        showMyMicrophoneToggleButton: true,

        showTurnOffRemoteCameraButton: false,
        showTurnOffRemoteMicrophoneButton: false,

        showScreenSharingButton: true,

        showAudioVideoSettingsButton: true,

        showLayoutButton: true,

        showRemoveUserButton: false,

        showRoomDetailsButton: false,

        // Чат
        showTextChat: true,
        showUserList: true,

        lowerLeftNotification: {
            showUserJoinAndLeave: true,
            showTextChat: true,
        },

        // Расположение элементов по умолчанию
        layout: "Auto",

        // Брендинг
        branding: {
            logoURL: '',
        },

        // Экран после выхода
        showLeavingView: false,
        showLeaveRoomConfirmDialog: false,

        onLeaveRoom: () => {
            document.location.href = '{{ logout_redirect }}';
        },
        
    });
};
</script>
{% endblock %}
