{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/zego.css' %}">
<div id="root" role="region" aria-label="Групповой голосовой и видеозвонок"></div>
<script src="https://unpkg.com/zego-superboard-web@2.15.3/index.js"></script>
<script type="text/javascript" src="{% static 'scripts/zego-uikit-prebuilt.js' %}"></script>
{{ call_config|json_script:"call-config" }}
<script type="text/javascript">
window.onload = function () {
    const callConfig = JSON.parse(document.getElementById('call-config').textContent);
    const roomID = callConfig.room_id;
    const userID = callConfig.user_id;
    const userName = callConfig.user_name;
    const appID = Number(callConfig.app_id);
    const kitToken = ZegoUIKitPrebuilt.generateKitTokenForProduction(appID, callConfig.token, roomID, userID, userName);

    const zp = ZegoUIKitPrebuilt.create(kitToken);

    zp.addPlugins({ZegoSuperBoardManager});

    zp.joinRoom({
        // Положение на экране
        container: document.querySelector("#root"),

        // Максимальное кол-во пользователей
        maxUsers: 30,

        // Сценарий логики
        scenario: {
            mode: ZegoUIKitPrebuilt.GroupCall,
        },

        // Экран перед подключением
        showPreJoinView: false,
        preJoinViewConfig: {
            title: '',
        },

	// Белая доска
	whiteboardConfig: {
	    showAddImageButton: true,
	    showCreateAndCloseButton: true,
	},

        // Аватары пользователей
        onUserAvatarSetter:(userList) => {
            userList.forEach(user => {
                user.setUserAvatar("")
            })
        },

        // Состояние микрофона и камеры
        turnOnMicrophoneWhenJoining: true,
        turnOnCameraWhenJoining: false,

        // Таймер
        showRoomTimer: false,

        // Кнопки
        showMyCameraToggleButton: true,
        showMyMicrophoneToggleButton: true,

        showTurnOffRemoteCameraButton: false,
        showTurnOffRemoteMicrophoneButton: false,

        showScreenSharingButton: true,

        showAudioVideoSettingsButton: true,

        showLayoutButton: true,

        showRemoveUserButton: false,

        showRoomDetailsButton: false,

        // Чат
        showTextChat: true,
        showUserList: true,

        lowerLeftNotification: {
            showUserJoinAndLeave: true,
            showTextChat: true,
        },

        // Расположение элементов по умолчанию
        layout: "Auto",

        // Брендинг
        branding: {
            logoURL: '',
        },

        // Экран после выхода
        showLeavingView: false,
        showLeaveRoomConfirmDialog: false,

        onLeaveRoom: () => {
            document.location.href = callConfig.logout_redirect;
        },
        
    });
};
</script>
{% endblock %}
